@use "sizes" as size;

:host {
  display: block;
  border-radius: size.$m;
  overflow: hidden;
  border: thin black solid;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: size.$xs size.$m;

    & > * {
      margin: 0;
    }
  }
}
