@use "sizes" as size;

:host {
  display: block;
  padding: size.$m;

  & > div {
    &:not(:last-child) {
      margin: 0 0 size.$xl 0;
    }
  }
}

// @media all and (min-width: 576px) {}
// @media all and (min-width: 768px) {}

@media all and (min-width: 1024px) {
  :host {
    padding: size.$xl;
  }
}

@media all and (min-width: 1366px) {
  :host {
    padding: size.$xxl;
  }
}

// @media all and (min-width: 1920px) {}
// @media all and (min-width: 3500px) {}
