@use "sizes" as size;

:host {
  display: block;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > div {
      margin: 0 size.$xs 0 0;
    }

    &:hover {
      cursor: help;
    }

    .section__number--optimal {
      width: calc(#{size.$m} * 7);
      height: size.$m;
      background-color: green;
    }

    .scale__base {
      .scale__base--values {
        width: calc(#{size.$m} * 7);
        height: size.$m;
        background: linear-gradient(0.25turn, green, yellow, red);
      }

      .scale__base--overlay {
        height: size.$m;
        margin: calc(#{size.$m} * (-1)) 0 0 auto;
        background-color: white; // ?? grayscale-filter
        mix-blend-mode: saturation; // ?? grayscale-filter
      }
    }

    & > p {
      margin: 0 0 0 size.$xs;
      line-height: 1;

      & > small {
        font-size: 0.8rem;
      }
    }
  }
}
