<radial-diagram-grid [size]="size" [numberOfValues]="values.length" />

<!-- ?? diagram-type: lines -->
@if(type === 'LINES'){
<radial-diagram-values-lines
  [size]="size"
  [values]="values"
  [style.marginTop.px]="offsetValues"
/>}

<!-- ?? diagram-type: polygon -->
@if(type === 'POLYGON'){
<radial-diagram-values-polygon
  [size]="size"
  [values]="values"
  [style.marginTop.px]="offsetValues"
/>
}

<!-- ?? diagram-type: area -->
@if(type === 'AREA'){
<radial-diagram-values-area
  [size]="size"
  [values]="values"
  [style.marginTop.px]="offsetValues"
/>
}
