<radial-diagram-grid [size]="size" [numberOfValues]="test.length" />

<!-- ?? diagram-type: lines -->
@if(type === 'LINES'){
<radial-diagram-values-lines
  [size]="size"
  [values]="test"
  [style.marginTop.px]="offsetValues"
/>}

<!-- ?? diagram-type: polygon -->
@if(type === 'POLYGON'){
<radial-diagram-values-polygon
  [size]="size"
  [values]="test"
  [style.marginTop.px]="offsetValues"
/>
}

<!-- ?? diagram-type: pie -->
@if(type === 'PIE'){
<radial-diagram-values-area
  [size]="size"
  [values]="test"
  [style.marginTop.px]="offsetValues"
/>
}
