<svg
  [attr.width]="size"
  [attr.height]="size"
  [attr.viewBox]="'0 0 ' + size + ' ' + size"
>
  @for(x of xOnRadialLine; track x; let i = $index) {
  <line
    [attr.x1]="size / 2"
    [attr.y1]="size / 2"
    [attr.x2]="xOnRadialLine[i]"
    [attr.y2]="yOnRadialLine[i]"
  />
  }

  <!-- ?? circles to mark values of evaluation-range -->
  @for(circle of circles; track circle){
  <circle
    [attr.cx]="size / 2"
    [attr.cy]="size / 2"
    [attr.r]="circle"
    stroke-width="1"
  />
  }
</svg>
