@use "sizes" as size;

:host {
  display: block;

  & > svg {
    background-color: white;

    & > circle {
      fill: none;
      stroke: black;
    }

    & > line {
      fill: none;
      stroke: black;
    }
  }
}
