<div>
  <p>{{ "AVERAGE_SIZE" | translate }}</p>
  <p>{{ data.Size | translate }}</p>

  <p>{{ "AVERAGE_SHAPE" | translate }}</p>
  <ul>
    @for(shape of data.Shape; track shape) {
    <li>{{ shape | translate }}</li>
    }
  </ul>

  <p>{{ "AMOUNT_OF_BROKEN_LEAVES" | translate }}</p>
  <quality-scale [value]="data.BrokenLeaves" />

  <p>{{ "ADDITIONAL_TEA_PARTS" | translate }}</p>
  <ul>
    @for(part of data.AdditionalParts; track part) {
    <li>{{ part }}</li>
    }
  </ul>

  <p>{{ "COLOR" | translate }}</p>
  <ul>
    @for(color of data.Color; track color) {
    <li>{{ color }}</li>
    }
  </ul>
</div>
