<div>
  <p>AVERAGE_SIZE</p>
  <p>{{ data.Size }}</p>

  <p>AVERAGE_SHAPE</p>
  <ul>
    @for(shape of data.Shape; track shape) {
    <li>{{ shape }}</li>
    }
  </ul>

  <p>AMOUNT_OF_BROKEN_LEAVES</p>
  <quality-scale [value]="data.BrokenLeaves" />

  <p>ADDITIONAL_TEA_PARTS</p>
  <ul>
    @for(part of data.AdditionalParts; track part) {
    <li>{{ part }}</li>
    }
  </ul>

  <p>COLOR</p>
  <ul>
    @for(color of data.Color; track color) {
    <li>{{ color }}</li>
    }
  </ul>
</div>
