@use "sizes" as size;

:host {
  display: block;
  padding: size.$m;
  border-radius: size.$m;
  border: thin black solid;

  & > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: size.$xs;

    & > * {
      margin: 0;
    }

    & > ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      & > li {
        &:not(:last-child) {
          margin-right: size.$xs;

          &::after {
            content: ", ";
          }
        }
      }
    }
  }
}

@media all and (min-width: 576px) {
  :host {
    & > div {
      grid-template-columns: 1fr 2fr;
    }
  }
}
