@use "sizes" as size;

:host {
  display: block;
  border-radius: size.$m;
  overflow: hidden;
  border: thin black solid;
  padding: size.$xs size.$m size.$m size.$m;

  & > h5 {
    margin: 0 0 size.$xs 0;
  }

  & > p {
    max-width: 50rem;

    &:last-child {
      margin: 0;
    }
  }
}
