@use "sizes" as size;

:host {
  display: block;

  & > label {
    & > textarea {
      display: block;
      width: 100%;
      margin: size.$xxs 0 0 0;
      resize: none;
    }
  }
}
