@use "sizes" as size;
@use "mixins" as mixin;

:host {
  display: block;

  & > label {
    display: block;
    margin: 0 0 size.$xxs 0;
  }

  & > div {
    @include mixin.single__center--start;

    & > p {
      margin: 0 0 0 size.$xs;
    }
  }
}
