@use "sizes" as size;

:host {
  display: block;
  border-radius: size.$m;
  overflow: hidden;
  border: thin black solid;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: size.$xs size.$m;

    & > * {
      margin: 0;
    }
  }

  & > div {
    & > h6 {
      margin: 0 size.$m size.$xs size.$m;
    }

    & > section {
      padding: 0 size.$m size.$m size.$m;

      & > p {
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

@media all and (min-width: 576px) {
  :host {
    & > div {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - #{size.$xxs}));
      grid-gap: size.$xs;

      & > section {
        padding: size.$m;
      }
    }
  }
}
